<div class="bg-color espaco"></div>
<div class="container">
    <div class="cont box">
        <h2 class="d-flex justify-content-center mt-3">Alterar Usuário</h2>

        <hr class="mb-4">

        <div class="form-grup">
            <input type="text" name="nome" id="nome" class="form-control mb-3 borda" placeholder="Nome"
                [(ngModel)]="user.nome">
        </div>

        <div class="form-grup">
            <span>Ex: João@gmail.com</span>
            <input type="email" name="email" id="email" class="form-control mb-3 borda" placeholder="Email"
                [(ngModel)]=user.email>
        </div>

        <div class="form-grup">
            <span>Minimo 6 caractéres</span>
            <input type="password" name="senha" id="senha" class="form-control mb-3 borda" placeholder="Senha"
                [(ngModel)]="user.senha">
        </div>

        <div class="form-grup">
            <input type="password" name="senha" id="senha" class="form-control mb-3 borda" placeholder="Confirmar Senha"
                [(ngModel)]="confirm.senha">
        </div>

        <div class="alert alert-danger" *ngIf="alerta" role="alert">
            As senhas não correspondem!
        </div>

        <div class="d-flex justify-content-end mt-3 mb-3 flex">
            <button type="button" class="btn btn-outline-info button"(click)="salvar()">Editar</button>
            <button type="button" routerLink='/login' class="btn btn-outline-info cancel">Cancelar</button>
        </div>
    </div>

</div>