<footer>
    <div>
        <a href="#home"><img src="../../assets/exo-maker-reduzida_Prancheta 1.png" alt="logo" id="logofoot"></a>
        <div>
            <ul>
                <li><a routerLink="/faq">Perguntas frequentes</a></li>
                <li><a routerLink="/politicas">Politica de Privacidade</a></li>
            </ul>
          <div>
            <a href="#" class="icoInstagram" title="Instagram">
                <fa-icon [icon]="faInstagram" class="faInstagram fa-3x p-3"></fa-icon>
            </a>
            <a href="#" class="icoLinkedin" title="Linkedin">
                <fa-icon [icon]="faLinkedin" class="faLinkedin fa-3x p-3"></fa-icon>
            </a>
          </div>
        </div>
    </div>
</footer>