<div class="titulo mt-5 pt-5">
    <h1 class="d-flex justify-content-center pt-5">Lista de usuários</h1>
    <hr>
</div>
<div class="mb-5 d-flex justify-content-center flex-wrap">

    <div class="user-box" *ngFor="let users of listaUsers">
        <div class="d-flex align-items-center">
            <p class="id d-flex justify-content-conter align-items-center">{{users.id}}</p>
            <h5 class="ml-3">{{users.nome}}</h5>
        </div>
        <hr>
        <p>Email: {{users.email}}</p>
        <p>Senha: *********</p>
        <div class="d-flex justify-content-end">
            <button class="btn btn-outline-info" [routerLink]="['/edit-user', users.id]">Editar</button>
            <button class="btn btn-outline-danger ml-3" [routerLink]="['/delete-user',users.id]">Excluir</button>
        </div>
    </div>

</div>