<div class="container mt-5 pt-5">
    <h1 class="d-flex justify-content-center pt-5">Lista de usuários</h1>
    <hr>
</div>
<div class="container mb-5 d-flex flex-wrap">
    <div class="card mt-5 col-md-4" *ngFor="let users of listaUsers">
        <div class="card-header">
            <h5 class="card-title">Nome: {{users.nome}}</h5>
        </div>
        <div class="card-body">
            <p>Id: {{users.id}}</p>
            <hr>
            <p>email: {{users.email}}</p>
            <hr>
            <p>Senha: (acho melhor não mostrar mas...) {{users.senha}}</p>
            <hr>
            <button class="btn btn-outline-info" [routerLink]="['/edit-user', users.id]">Editar</button>
            <button class="btn btn-outline-danger ml-3" [routerLink]="['/delete-user',users.id]">Excluir</button>
        </div>
    </div>
</div>