.user-box{
    margin: 20px;
    width: 330px;
    background-color: rgb(214, 214, 253);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #00000069;
}

.id{
    background-color: #ffffff;
    border-radius: 30px;
    width: 50px;
    height: 50px;
    padding: 17px;
    font-weight: bold;
}

.titulo{
    background: transparent linear-gradient(270deg, #353E80 0%, #697AFF 100%) 0% 0% no-repeat padding-box;
    color: #ffffff;
    box-shadow: 0 0 10px #00000069;
}

btn{
    font-weight: bold;
}

p{
    font: 1.5em;
}
h5{
    font-weight: bold;
}