main{
    width: 70%;
    margin: 0 auto;
    display: flex;
    margin-top: 100px;
    
}

main > article{
    margin: 50px;
    background: transparent linear-gradient(270deg, #353E80 0%, #697AFF 100%) 0% 0% no-repeat padding-box;
    padding: 20px;
    color: #ffffff;
    border-radius: 10px;
}

h1{
    padding: 5px;
    font-size: 2em;
    font-weight: bold;
}

h2{
    padding: 5px;
    font-size: 1.5em;
    font-weight: bold;
}

p{
    padding: 8px;
    font-size: 25px;
}

@media screen and (max-width: 1351px){
    main{
        width: 100%;
}

}
@media screen and (max-width: 600px){
    main > article{
        margin: 50px 0 50px 0;
        padding: 0;
        padding-top: 20px;
    }
}