<div class="container">
    <div class="row mt-5">
        <div class="col-md-8"></div>
        <div class="col-md-4">
            <h3 class="text-cor">FALE CONOSCO</h3>
            <p class="text-cor">NOS MANDE UMA MENSAGEM.</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">

        <div class="col-md-8">
            <img style="max-width: 775px;" src="https://i.imgur.com/46T0q7R.png" alt="Imagem de contato">
        </div>

        <div class="col-md-4">
            <div class="form-group">

                <label for="nome">Nome:</label>
                <input type="text" class="form-control" id="nome" placeholder="Digite seu nome">
                <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                    else.</small> -->
            </div>
            <div class="form-group">
                <label for="email">E-mail:</label>
                <input type="email" class="form-control" id="email" placeholder="Digite seu e-mail">
            </div>
            <div class="form-group">
                <label for="telefone">Telefone:</label>
                <input type="text" class="form-control" id="telefone" placeholder="Digite seu telefone">
            </div>
            <div class="form-group">
                <label for="mensagem">Mensagem:</label>
                <textarea class="form-control" name="mensagem" id="mensagem" placeholder="Digite sua mensagem" cols="30"
                    rows="5"></textarea>
            </div>
            <button type="submit" class="btn button-cor">Enviar</button>
        </div>


    </div>
</div>