<div class="bg-login">
    <div class="container espaco">
        <div class="row">
            <div class="col-md-8 texto">

            </div>
            <!-- <div class="col-md-4"></div> -->
            <div class="col-md-4 mt-5 form">
                <h2 class="cor text-center">FALE CONOSCO</h2>
                <h4 class="text-center mb-3">NOS MANDE UMA MENSAGEM.</h4>
                <div class="form-group">

                    <label for="nome">Nome:</label>
                    <input type="text" class="form-control color-input borda" id="nome" placeholder="Digite seu nome">
                    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                        else.</small> -->
                </div>
                <div class="form-group">
                    <label for="email">E-mail:</label>
                    <input type="email" class="form-control color-input borda" id="email"
                        placeholder="Digite seu e-mail">
                </div>
                <div class="form-group">
                    <label for="telefone">Telefone:</label>
                    <input type="text" class="form-control color-input borda" id="telefone"
                        placeholder="Digite seu telefone">
                </div>
                <div class="form-group">
                    <label for="mensagem">Mensagem:</label>
                    <textarea class="form-control color-input borda" name="mensagem" id="mensagem"
                        placeholder="Digite sua mensagem" cols="30" rows="5"></textarea>
                </div>
                <button type="submit" class="btn button">Enviar</button>
            </div>
        </div>
    </div>
</div>