<<<<<<< HEAD
.cor{
    color: #697afe;
}
.text-cor{
    color: #353e80;
}

.button-cor{
    color: #fff;
    background-color: #353e80;
    border-color: #353e80;
}

.button-cor:hover{
    color: #353e80;
    background-color: transparent;
    background-image: none;
    border-color: #353e80;
}

=======

.cor{
    color: #697afe;
}
>>>>>>> d2905d6ab6b38059bde4922046ccb7c32447153c
