<div class="container">
    <div class="row mt-5">
        <div class="p-3 mb-2 bg-light text-dark w-100">
            <h5 class="text-center">CONTATO</h5>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mt-4">
        <div class="col-md-6">
            <h3>Entre em contato conosco</h3>
            <p>Nos mande uma mensagem.</p>
            <div class="form-group">
                <!-- <a href="#" class="icoFacebook" title="Facebook">
                    <fa-icon [icon]="faUser" class="faUser fa-2x p-2"></fa-icon>
                </a> -->
                <label for="nome">Nome:</label>
                <input type="text" class="form-control" id="nome" placeholder="Digite seu nome">
                <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                    else.</small> -->
            </div>
            <div class="form-group">
                <label for="email">E-mail:</label>
                <input type="email" class="form-control" id="email" placeholder="Digite seu e-mail">
            </div>
            <div class="form-group">
                <label for="telefone">Telefone:</label>
                <input type="text" class="form-control" id="telefone" placeholder="Digite seu telefone">
            </div>
            <div class="form-group">
                <label for="mensagem">Mensagem:</label>
                <textarea class="form-control" name="mensagem" id="mensagem" placeholder="Digite sua mensagem" cols="30"
                    rows="5"></textarea>
            </div>
            <button type="submit" class="btn btn-outline-primary">Enviar</button>
        </div>
        <div class="col-md-6">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3658.124281985711!2d-46.69399738538476!3d-23.528031966246633!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cef8775663b04f%3A0x923835e9005f8309!2sSenac%20Lapa%20Tito!5e0!3m2!1spt-BR!2sbr!4v1589303214215!5m2!1spt-BR!2sbr"
                width="550" height="325" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                tabindex="0"></iframe>
            <div class="row text-center">
                <div class="col-md-4 mt-3">
                    <a href="#" class="icoThumbtack cor" title="Maps">
                        <fa-icon [icon]="faThumbtack" class="faThumbtack fa-4x p-2"></fa-icon>
                    </a>
                    <p class="text-center">Rua Tito, 54 - Vila Romana - São Paulo, SP</p>
                </div>
                <div class="col-md-4 mt-3">
                    <a href="#" class="icoEnvelopeOpenText cor" title="Email">
                        <fa-icon [icon]="faEnvelopeOpenText" class="faEnvelopeOpenText fa-4x p-2"></fa-icon>
                    </a>
                    <a href="#" class="text-center text-dark">contato@exomaker.com</a>
                </div>
                <div class="col-md-4 mt-3">
                    <a href="#" class="icoPhoneAlt cor" title="Telefone">
                        <fa-icon [icon]="faPhoneAlt" class="faPhoneAlt fa-4x p-2"></fa-icon>
                    </a>
                    <p class="text-center">(11) 99999-9999</p>
                </div>
            </div>
        </div>
    </div>
</div>