.titulo{
    text-align: center;
    margin: 80px;

}
.primeiroTexto{
    text-align: center;
    font-family: 'Cabin', 'Roboto';
}
.frasedeEfeito{
    text-align: center;
}
.segundoTexto{
    text-align: center;
    font-family: 'Cabin', 'Roboto';
}
.segundoTitulo{
    text-align: center;
    margin: 80px;
}
main{
    width: 70%;
    margin: 0 auto;
}

#baner{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo{
    width: 299px;
    height: auto;
    margin-bottom: 15px;

}

.face{
    width: 20px;
    height: auto;
}

.insta{
    margin-left: 20px;
    width: 20px;
    height: auto;
}

.login{
    width: 20px;
    height: auto;
}


nav{
    width: 50%;
    margin: 0 auto;
}

nav > ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding:0;
}
 nav > ul > li > a{
     font-size: 25px;
     text-decoration: none;
     color: black;
 }


.background{
    background-color: #ebebeb;
    font-family: 'Cabin', 'Roboto' ;
}

.titulo-alinhar {
        text-align: center !important;
        font-family: 'Cabin', Robotofont
}
.texto-alinhar{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
#sobre-nos{
    margin: 80px;
}
main{
    width: 70%;
    margin: 0 auto;
}
.caixa-contato {
    background-color: rgb(230, 230, 230);
    width: 1000px;
    height: 500px;
    box-shadow: 0 3px 5px #00000015;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.caixa-contato > img{
    width: 400px;
    height: auto;
    margin-right: 20px;
    border-radius: 20px;

}
.caixa-contato >h1{
    text-align: center;
    ;
}
.caixa-contato >p{
    text-align: center;
}

.carrosel {
    display: flex;
    justify-content: center;
    margin-right: 80px;
}
.fraseJoyce{
    margin-left: 150px;
    margin-top: 80px;
}