@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
body{
    background-color: #fafafa;
}
h1{
    font-weight: 800;
    color:#353E80;
}

h5{
    text-align: justify;
    font-weight: 500;
    color:#353E80;
}

.text-main{
    text-align: justify;
    color:#000;
    font-weight: 400;
}
.caixa1{
  padding-top: 40px;
}
.hr{
    border: 0px;
    height: 2px;
    background-image: linear-gradient(-90deg, #697AFF, #353E80);
}
.cont{
    max-width: 1100px;
    margin: 0 auto;
}
.cont-bg{
    max-width: 980px;
    margin: 0 auto;
    padding: 10px;
}


.flex-main{
    display: flex;
    margin-top: 75px;
}

.img-main {
    width: 900px;
}

.img-about{
    padding: 50px 0;
}
.btn-main{
    background-image: linear-gradient(-90deg, #697AFF, #353E80);
    width: 100%;
    text-transform: uppercase;
    font-weight: 500;
}
.btn-main:hover{
    background-image: none;
    background-color: transparent;
    border: 2px solid #353E80;
    color: #353E80;
}

.aboutint{
    margin: 20px auto 10px;
}

figure.snip0078 {
  font-family: 'Raleway', Arial, sans-serif;
  color: #fff;
  position: relative;
  float: left;
  min-width: 220px;
  max-width: 400px;
  max-height: 400px;
  width: 100%;
  text-align: center;
  margin: 20px 40px;
  padding: 40px;
}
figure.snip0078 * {
  -webkit-box-sizing: padding-box;
  box-sizing: padding-box;
}
figure.snip0078 img {
  opacity: 1;
  max-width: 100%;
  border: 10px solid #000000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(0.85);
  transform: scale(0.85);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
figure.snip0078 figcaption {
  bottom: 0;
  width: 60%;
  right: 0;
  position: absolute;
  background: #000000;
  padding: 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  box-shadow: 0 0px 10px -10px #000000;
}
figure.snip0078 figcaption h2,
figure.snip0078 figcaption p {
  margin: 0;
  color: #ffffff;
}
figure.snip0078 figcaption h2 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1.5em;
}
figure.snip0078 figcaption h2 span {
  font-weight: 600;
}
figure.snip0078 figcaption p {
  font-size: 0.9em;
  font-weight: 500;
  opacity: 0.65;
}

figure.snip0078.blue figcaption {
  background: #353E80;
  border-radius: 10px;
}
figure.snip0078.blue img {
  border: 10px solid #353E80;
}

figure.snip0078:hover figcaption,
figure.snip0078.hover figcaption {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
  box-shadow: 0 15px 15px -15px #000000;
}
figure.snip0078:hover.blue .foto,
figure.snip0078.hover.blue .foto {
  border: 10px solid #697AFF;
}

.flex-icons{
    justify-content: center;
    margin: 2px solid black;
    
}
.image{
    width: 70px;
}

@media screen and (max-width: 1197px){

    figure.snip0078{
        margin: 20px;
    }   
      
  }


@media screen and (max-width: 991px){
  .caixa1{
    padding-top: 0;
  }
  .flex-main{
    margin-top: 0;
  }
  .cont-bg{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
  }
  .flex-main{
      flex-wrap: wrap;
      justify-content: center;
      max-width: 700px;
      margin-top: 70px;
  }
    
}