<body>
    <div class="cont">
        <div class="container">
            <div class="row">
                <div class="flex-main">
                    <div class="col-md-4 white-text text-center text-md-left mt-xl-5 mb-5 wow fadeInLeft caixa1"
                        data-wow-delay="0.3s">
                        <h1 class="mb-4 mt-4">QUEM SOMOS</h1>
                        <h5>Estamos aqui para descomplicar a vida daqueles que portam algum tipo de
                            deficiência.</h5>
                        <hr class="hr">
                        <p class="mb-4 text-main">Fundada em 05/03/2020, comovidos e inspirados pelas histórias de
                            superações,
                            ExoMaker tem como objetivo alcançar milhares
                            de pessoas e animais com quaisquer tipos de deficiências, através da acessibilidade, para
                            proporcionar-lhes melhores dias.</p>
                        <a href="#" class="btn btn-primary btn-main">Conhecer Produtos</a>
                    </div>
                    <div class="img-about">
                        <img src="./assets/undraw_web_browsing_p77h.svg" alt="" class="img-fluid img-main">
                    </div>
                </div>
                <div class="aboutint">
                    <h1>INTEGRANTES</h1>
                </div>
                <div class="cont-bg">
                    <figure class="snip0078 blue" data-anima="left">
                        <img src="./assets/gabriel.jpg" alt="sampl45" class="foto" />
                        <figcaption>
                            <h2><span>Gabriel</span> Sousa</h2>
                            <p>Desenvolvedor Front-End</p>
                            <div class="flex-icons">
                                <a href="https://github.com/sousagabriell" target="_blank"><img
                                        src="assets/github-logo.svg" alt="" class="image"></a>
                                <a href="https://www.linkedin.com/in/gabriel-sousa-m-grande/" target="_blank"><img
                                        src="assets/linkedin-logo.svg" alt="" class="image"></a>
                            </div>
                        </figcaption>
                    </figure>
                    <figure class="snip0078 blue"><img src="./assets/caio.jpg" alt="sample50" class="foto" />
                        <figcaption>
                            <h2><span>Caio</span> Lino</h2>
                            <p>Desenvolvedor Back-End</p>
                            <div class="flex-icons">
                                <a href="https://github.com/caiolino" target="_blank"><img src="assets/github-logo.svg"
                                        alt="" class="image"></a>
                                <a href="https://www.linkedin.com/in/caiolino/" target="_blank"><img
                                        src="assets/linkedin-logo.svg" alt="" class="image"></a>
                            </div>
                        </figcaption>
                    </figure>
                    <figure class="snip0078 blue" data-anima="left"><img src="./assets/joyce.jpg" alt="sample46"
                            class="foto" />
                        <figcaption>
                            <h2><span>Joyce</span> Olympio</h2>
                            <p>Scrum Master</p>
                            <div class="flex-icons">
                                <a href="https://github.com/Joyceolympio" target="_blank"><img
                                        src="assets/github-logo.svg" alt="" class="image"></a>
                                <a href="http://linkedin.com/in/joyce-olympio-a85b08182" target="_blank"><img
                                        src="assets/linkedin-logo.svg" alt="" class="image"></a>
                            </div>
                        </figcaption>
                    </figure>
                    <figure class="snip0078 blue"><img src="./assets/carol.jpg" alt="sample46" class="foto" />
                        <figcaption>
                            <h2><span>Carol</span> Galvão</h2>
                            <p>Desenvolvedora Front-End</p>
                            <div class="flex-icons">
                                <a href="https://github.com/Caroline-GP" target="_blank"><img
                                        src="assets/github-logo.svg" alt="" class="image"></a>
                                <a href="https://www.linkedin.com/in/caroline-galvão-pereira-875b9517b"
                                    target="_blank"><img src="assets/linkedin-logo.svg" alt="" class="image"></a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>