<h1 class="titulo">Sobre Nós</h1>
<div>
    <p class="primeiroTexto">Líder em vendas no mercado, a Exomaker cria soluçoes inovadoras para transformar o dia a dia das pessoas com quaisquer tipo de deficiencia. Com investimentos na casa dos milhões em pesquisas e maquinas.</p>
</div>
<br>
<p class="frasedeEfeito">Proporcionar melhores dias!</p>
<br>
<div class="container">
    <div id="carouselExampleControls" class="carouselUnico" data-ride="carousel">
        <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="./assets/joyce.jpg" class="d-block w-100" alt="Joyce">
        </div>
        <div class="fraseJoyce">
        <h3>Joyce Olympio</h3>
        <p>Muitos vivem em meio a limitação. Devemos mudar essa realidade!</p>
        </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>
  <br>
  <h3 class="segundoTitulo">Nosso Objetivo</h3>
<div>
  <p class="segundoTexto"> Fundada em 05 de Março de 2020 após a comoção de seus fundadores, a Exomaker tem como objetivo alcançar milhares de pessoas e animais atravez da acessibilidade. Como uma empresa brasileira, a Exomaker acredita na melhora de vida daqueles tão esquecidos pela sociedade, de norte a sul, por meio da tecnologia.</p>
</div>