<main>
    <article id="sobre-nos">
        <h1 class="titulo-alinhar">Sobre Nós</h1>
        <p class="texto-alinhar">Fundada em 05/03/2020, comovidos e inspirados pelas histórias de superações, Avanoa
            tem
            como objetivo alcançar milhares
            <br>
            de pessoas e animais com quaisquer tipos de deficiências, através da acessibilidade, para
            proporcionar-lhes
            melhores dias. </p>
    </article>
    <article class="carrosel">
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="caixa-contato">
                        <img src="./assets/joyce.jpg" alt="joyce">
                        <div>
                            <h3>Joyce Olympio</h3>
                            <p>“ Muitos vivem em meio a limitação. Devemos mudar essa realidade. ”
                                Desenvolvedora Java Junior.
                            </p>
                            <a href="#"><img src="img/instagram.png" alt=""></a>
                            <a href="#"><img src="img/facebook.png" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="caixa-contato">

                    </div>
                </div>
                <div class="carousel-item">
                    <div class="caixa-contato">

                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Próximo</span>
            </a>
        </div>
    </article>
</main>