<div class="bg-login">
    <div class="container espaco">
        <div class="row">
            <div class="col-md-8 texto">
                <h2 class="text-light mt-5">CADASTRE-SE NA EXOMAKER</h2>
                <hr class="separacao">
                <div class="paragrafo">
                    <p class="text-light">Com o cadastro ExoMaker você terá acesso a centenas de produtos para melhorar
                        o
                        seu dia-a-dia e fazer
                        com que sua vida se torne cada vez mais fácil.</p>
                </div>
            </div>
            <!-- <div class="col-md-4"></div> -->
            <div class="col-md-4 mt-5 form">
                <h2 class="cor text-center mb-5">LOGIN</h2>
                <div class="form-group ">
                    <input type="email" class="form-control borda mb-5 formulario" id="email"
                        placeholder="Digite seu e-mail">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control borda formulario" id="senha"
                        placeholder="Digite sua senha">
                </div>
                <div class="text-right mb-4">
                    <a routerLink='' class="cor">Esqueceu sua senha?</a>
                </div>
                <button type="submit" class="btn button w-100 mb-1">ENTRAR</button>
                <div class="text-center mb-5">
                    <a routerLink='/cadastro' class="cor">Criar uma conta.</a>
                </div>
            </div>
        </div>
    </div>
</div>