<div class="bg-login">
    <div class="container ">
        <div class="row">
            <div class="col-md-8">
                <h3 class="text-light mt-5">CADASTRE-SE NA EXOMAKER</h3>
                <hr>
                <p class="text-light">Com o cadastro ExoMaker você terá acesso a centenas de produtos para melhorar o
                    seu dia-a-dia e fazer
                    com que sua vida se torne cada vez mais fácil.</p>
            </div>
            <!-- <div class="col-md-4"></div> -->
            <div class="col-md-4 mt-5">
                <h2 class="cor text-center mb-5">LOGIN</h2>
                <div class="form-group">
                    <input type="email" class="form-control borda mb-5" id="email" placeholder="Digite seu e-mail">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control borda" id="senha" placeholder="Digite sua senha">
                </div>
                <div class="text-right mb-4">
                    <a routerLink='' class="cor">Esqueceu sua senha?</a>
                </div>
                <button type="submit" class="btn button w-100 text-light mb-1">ENTRAR</button>
                <div class="text-center mb-5">
                    <a routerLink='/cadastro' class="cor">Criar uma conta.</a>
                </div>
            </div>
        </div>
    </div>
</div>