<div class="container d-flex flex-wrap mt-5 pt-5 produtos">
    <div class="card mb-5 mr-4 m-3 box" style="width: 14rem;">
        <div class="card-body">
            <img class="card-img-top" style="height: 180px" src="{{produto.imagem}}" alt="Imagem do produto">
            <hr>
            <h4 class="card-title text-center cor-texto">{{produto.nomeProduto}}</h4>
            <!-- <p class="card-text">Codigo: {{produto.id}}</p> -->
            <h5 class="card-text text-center cor-texto">R${{produto.preco}}</h5>
            <span class="card-text text-center">{{produto.descricao}}</span>
        </div>
    </div>
</div>