.flex{
    display: flex;
    flex-wrap: wrap;
}

.container{
    padding-bottom: 50px;
}

.cont{
    margin: 0 auto;
    max-width: 500px;
}
.bg-color{
    background: transparent linear-gradient(270deg, #353E80 0%, #697AFF 100%) 0% 0% no-repeat padding-box;
    height: 300px;
}

.box{
    padding: 30px;
    margin-top: -130px;
    background-color: white;
    border-radius: 10px 10px;
    box-shadow: 0 0 10px #00000069
}
.borda{
    border: 1px solid #353E80;
    border-radius: 5px;
    opacity: 1;
}
.borda:focus {
    border: 2px solid #697AFF;
    outline: 0;
    box-shadow:none
  }
  .button{
    background: transparent linear-gradient(270deg, #353E80 0%, #697AFF 100%) 0% 0% no-repeat padding-box;
    border-radius: 30px;
    opacity: 1;
    color: white;
    width: 100%;
    text-transform: uppercase   ;
}
.button:hover{
    background: #6eff69;
    border: 2px solid #353E80;
    color: white;
}

.cancel{
    margin-top: 10px;
    background: #fbfbfb;
    border:2px solid #353E80;
    border-radius: 30px;
    opacity: 1;
    color: #353E80;
    width: 100%;
    text-transform: uppercase;
}
.cancel:hover{
    background: #fa4343;
    border:2px solid #353E80;
    color: #353E80;
}
.espaco{
    margin-top: 60px;
}
h3{
    color: #353E80;
    text-transform: uppercase;
    font-weight: 700;
}
hr{
    background: #353E80;
    height: 2px;
    width: 70%;
}
span{
    font-size: 0.8em;
}

@media screen and (max-width: 991px){
    .espaco{
        margin-top: 0;
    }
}